---
import { Icon } from 'astro-icon/components';
---
<button
  class="nav-toggle"
  type="button"
  aria-label="Open navigation"
  popovertarget="site-nav"
  popovertargetaction="toggle"
>
  <Icon name="fa7-solid:bars"/>
</button>
<nav id="site-nav" popover="auto">
  <button
    class="nav-toggle nav-close"
    type="button"
    aria-label="Close navigation"
    popovertarget="site-nav"
    popovertargetaction="hide"
  >
    <Icon name="fa7-solid:bars"/>
  </button>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/blog/">Article archive</a></li>
    <li><a href="/who/">Who is @ajfisher</a></li>
    <li><a href="/colophon/">Colophon</a></li>
    <li><a href="/dis-everything/">Disclaimer & Disclosure</a></li>
    <li class="icons">
      <a title="@ajfisher on Github" href="https://github.com/ajfisher" target="_blank" rel="noopener noreferrer">
        <Icon name="fa7-brands:github"/>
      </a>
      <a title="@ajfisher on Instagram" href="https://instagram.com/andrewjfisher" target="_blank" rel="noopener noreferrer">
        <Icon name="fa7-brands:instagram"/>
      </a>
      <a title="Send ajfisher an email" href="mailto:ajfisher.td@gmail.com" target="_blank" rel="noopener noreferrer">
        <Icon name="fa7-regular:envelope"/>
      </a>
      <a title="@ajfisher on Twitter" href="https://twitter.com/ajfisher" target="_blank" rel="noopener noreferrer">
        <Icon name="fa7-brands:twitter"/>
      </a>
      <a title="@ajfisher on Bluesky" href="https://bsky.app/profile/ajfisher.social" target="_blank" rel="noopener noreferrer">
        <Icon name="fa7-brands:bluesky"/>
      </a>
      <a title="@ajfisher on LinkedIn" href="https://www.linkedin.com/in/andrewfisher/" target="_blank" rel="noopener noreferrer">
        <Icon name="fa7-brands:linkedin"/>
      </a>
    </li>
  </ul>
</nav>

<style>
  button.nav-close {
    transform: none;
    transition: transform 0.5s ease-in-out;
    transition-behavior: allow-discrete;
  }

  button.nav-toggle {
    position: fixed;
    top: calc(0.25 * var(--gutter));
    right: calc(0.5 * var(--gutter));
    border: none;

    background-color: transparent;
    font-size: 3.5rem;
    color: var(--base);

    &:hover {
      color: var(--dark-text-colour);
    }

    @media only screen and (min-width: 821px) {
      display: none;
    }
  }

  nav#site-nav[popover] {
    position: fixed;
    inset: 0 0 0 auto;      /* right side drawer */
    height: 100dvh;
    width: 75vw;
    margin: 0;
    padding: var(--gutter);
    background: var(--light-text-colour);
    border: none;

    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    transition-behavior: allow-discrete;

    @media only screen and (min-width: 601px) {
      width: 60vw;
    }
  }

  /* When open */
  nav#site-nav:popover-open {
    opacity: 1;
  }

  nav#site-nav[popover]::backdrop {
    background: rgba(0, 0, 0, 0.0);
    transition: background 520ms ease;
    transition-behavior: allow-discrete;
  }

  nav#site-nav:popover-open::backdrop {
    background: rgba(0,0,0,.7);
  }

  nav#site-nav:popover-open button.nav-close {
    transform: rotate(-90deg);
  }

  @starting-style {
    nav#site-nav:popover-open {
      opacity: 0;
    }
    nav#site-nav:popover-open::backdrop {
      background: rgba(0,0,0,.0);
    }

    nav#site-nav:popover-open button.nav-close {
      transform: none;
    }
  }

  @media (prefers-reduced-motion: reduce) {
    nav#site-nav[popover],
    nav#site-nav[popover]::backdrop,
    nav#site-nav:popover-open button.nav-close {
      transition: none;
    }
  }

  ul {

    margin: 0;
    padding: 0;

    list-style-type: none;

    & li {
      font-size: 3rem;
      line-height: 5rem;
      margin: 0;

      @media only screen and (min-width: 601px) {
        font-size: 3.5rem;
        line-height: 4.8rem;
      }

      @media only screen and (min-width: 821px) {
        font-size: 2.8rem;
        line-height: 3.5rem;
      }
    }

    & li:first-child {
      margin-top: 0;
    }

    & li.icons {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: calc(0.15 * var(--gutter));
      min-width: 100%;
      font-size: 5.2rem;
      margin-left: -0.4rem;

      @media only screen and (min-width: 601px) {
        font-size: 6rem;
      }

      @media only screen and (min-width: 821px) {
        font-size: 3.6rem;
      }

      @media only screen and (min-width: 1051px) {
        font-size: 4.2rem;
      }
    }

    & a {
      text-decoration: none;
      color: var(--dark-grey);
      font-family: var(--heading-font-family);
      font-weight: var(--heading-font-weight);
      background: none;
      padding: 0;
    }

    & a:hover, & a:visited:hover {
      background: none;
      color: var(--dark-base);
    }
  }
</style>
