---
import { Icon } from 'astro-icon/components';

import Navigation from './Navigation.astro';
---
<button
  class="nav-menu-toggle"
  type="button"
  aria-label="Open navigation"
  popovertarget="nav-menu"
  popovertargetaction="toggle"
>
  <Icon name="fa7-solid:bars"/>
</button>
<nav id="nav-menu" popover="auto">
  <button
    class="nav-menu-toggle nav-close"
    type="button"
    aria-label="Close navigation"
    popovertarget="nav-menu"
    popovertargetaction="hide"
  >
    <Icon name="fa7-solid:bars"/>
  </button>
  <Navigation />
</nav>
<nav id="side-nav">
  <Navigation />
</nav>

<style>
  button.nav-menu-toggle {
    position: fixed;
    top: calc(0.25 * var(--gutter));
    right: calc(0.5 * var(--gutter));
    border: none;

    background-color: transparent;
    font-size: 3.5rem;
    color: var(--base);

    &:hover {
      color: var(--dark-text-colour);
    }

    @media only screen and (min-width: 821px) {
      display: none;
    }
  }

  nav#nav-menu {
    & button.nav-close {
      transform: none;
      transition: transform 0.5s ease-in-out;
      transition-behavior: allow-discrete;
    }
  }

  nav#nav-menu[popover] {
    position: fixed;
    inset: 0 0 0 auto;      /* right side drawer */
    height: 100dvh;
    width: 75vw;
    margin: 0;
    padding: var(--gutter);
    background: var(--light-text-colour);
    border: none;

    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    transition-behavior: allow-discrete;

    @media only screen and (min-width: 601px) {
      width: 60vw;
    }
  }

  /* When open */
  nav#nav-menu:popover-open {
    opacity: 1;
  }

  nav#nav-menu[popover]::backdrop {
    background: rgba(0, 0, 0, 0.0);
    transition: background 520ms ease;
    transition-behavior: allow-discrete;
  }

  nav#nav-menu:popover-open::backdrop {
    background: rgba(0,0,0,.7);
  }

  nav#nav-menu:popover-open button.nav-close {
    transform: rotate(-90deg);
  }

  @starting-style {
    nav#nav-menu:popover-open {
      opacity: 0;
    }
    nav#nav-menu:popover-open::backdrop {
      background: rgba(0,0,0,.0);
    }

    nav#nav-menu:popover-open button.nav-close {
      transform: none;
    }
  }

  @media (prefers-reduced-motion: reduce) {
    nav#nav-menu[popover],
    nav#nav-menu[popover]::backdrop,
    nav#site-nav:popover-open button.nav-close {
      transition: none;
    }
  }

  nav#side-nav {
    display: none;

    @media only screen and (min-width: 821px) {
      display: block;
    }
  }
</style>
