---
import slideshowStyles from '../styles/slideshow.css?inline';

import { Icon } from 'astro-icon/components';
---

<style is:global set:html={slideshowStyles} />

<div
  aria-hidden="true"
  style="position:absolute;width:0;height:0;overflow:hidden;opacity:0;pointer-events:none;"
>
  <Icon name="fa7-solid:angle-left" />
  <Icon name="fa7-solid:angle-right" />
  <Icon name="fa7-solid:play" />
  <Icon name="fa7-solid:pause" />
</div>

<script>
  import '../lib/slideshow-controller.mjs';
</script>
