---
const {
  tags = [],
} = Astro.props;

---
{ tags.length > 0 && (
  <p>Tags:</p>
  <p class="tags">
    {tags.map(tag => (
      <a href=`/tagged/${tag.slug}/`>{tag.name}</a>
    ))}
  </p>
)}
<style>
  p.tags {
    display: none;

    @media only screen and (min-width: 821px) {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      flex-direction: row;
      gap: calc(0.25 * var(--gutter));

      margin-bottom: var(--gutter);
      margin-top: calc(-1 * var(--gutter));


      & a {
        font-size: 2rem;
        background: var(--dark-grey);
        padding: 0 0.5rem;
        border-radius: 0.2rem;
      }

      & a:hover, a:visited:hover {
        color: var(--light-base);
      }
    }
  }
</style>
