---
import { getCollection, render } from 'astro:content';
import similarityScores from '../../../utils/embeddings/similarity_data.json';
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
import PostAttribution from '../components/PostAttribution.astro';
import PostData from '../components/PostData.astro';
import RelatedPosts from '../components/RelatedPosts.astro';

import { imageTransform } from '../lib/utils.mjs';

export async function getStaticPaths() {
  const posts = await getCollection('posts');
  const pages = await getCollection('pages');

  // Combine both collections into one set of routes
  return [...posts, ...pages].map((entry) => ({
    params: { path: entry.data.uri }, // Using the transformed URI
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content, remarkPluginFrontmatter } = await render(entry);
const excerpt = entry.data.excerpt || '';
const twitterExcerpt = entry.data.twitter_excerpt || excerpt || '';
const isPost = entry.collection === 'posts' || entry.data.layout?.startsWith('post');

// Related posts logic
const currentSlug = entry.data.slug;
const similarityData = similarityScores.find(item => item.slug === currentSlug)
const relatedSlugs = similarityData
  ? similarityData.post_similarity.sort((a, b) => b.similarity - a.similarity)
    .slice(0, 2).map(p => p.slug)
  : [];

const allPosts = await getCollection('posts');
const relatedPosts = allPosts.filter(p => relatedSlugs.includes(p.data.slug));

entry.data.featureimage = imageTransform(entry.data.featureimage);

// add reading time and word count to entry data
entry.data.readingTime = remarkPluginFrontmatter.readingTime;
entry.data.wordCount = remarkPluginFrontmatter.wordCount;

const seo = {
  title: entry.data.title,
  description: excerpt,
  type: 'article',
  tweet: twitterExcerpt,
  image: isPost ? entry.data.featureimage : undefined,
  readingTime: isPost ? entry.data.readingTime : 0,
  words: isPost ? entry.data.wordCount : 0,
};

---
<BaseLayout title={entry.data.title} slug={entry.data.slug} seo={seo}>
  <Fragment slot="header" { ...entry.data }>
    <Header { ...entry.data } />
  </Fragment>
  <section class="content">
    <Content />
  </section>
  <RelatedPosts { ...{ relatedPosts } } />
  <PostAttribution {...entry.data} />
  <Fragment slot="postdata">
      <PostData { ...entry.data } />
  </Fragment>
</BaseLayout>
