---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';

const featured = (
    await getCollection('posts', ({ data }) => data.featured === true)
  ).sort(
    (a,b) => b.data.date.valueOf() - a.data.date.valueOf()
  );
const recent = (await getCollection('posts')).sort((a,b) => b.data.date.valueOf() - a.data.date.valueOf()).slice(0, 15);
---

<BaseLayout title="AJ Fisher">
  <h1>Featured</h1>
  <ul>
    {featured.map(p => <li><a href={`/${p.data.uri}`}>{p.data.title}</a></li>)}
  </ul>

  <h1>Recent</h1>
  <ul>
    {recent.map(p => <li><a href={`/${p.data.uri}`}>{p.data.title}</a></li>)}
  </ul>
</BaseLayout>
