---
// @ts-nocheck
import { getCollection } from 'astro:content';

import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
import ListItems from '../components/ListItems.astro';

// display logic:
// 1. get three latest featured posts.
// 2. Most recent featured post goes into header section
// 3. Next two go into the featured posts list at top of page.
// 4. Then get the most recent 15 posts for the recent posts list.
// 5. Remove all three featured posts from the recent posts list.
// 6. Sort all lists by date descending.
// 7. Render 10 most recent posts in recent posts list.


let featured = (
  await getCollection('posts', ({ data }) => data.featured === true))
  .filter(p => p.data.featured)
  .sort((a,b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, 3);
let recent = (await getCollection('posts'))
  .sort((a,b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, 15);

// Remove featured posts from recent posts list then trim to 10 items.
const featuredSlugs = featured.map(p => p.data.slug);
const recentFiltered = recent.filter(p => !featuredSlugs.includes(p.data.slug));
recent = recentFiltered.slice(0, 10);

// Set aside header post and next two featured posts for layout
const headerPost = featured[0];
featured = featured.slice(1, 3);

---

<BaseLayout title="AJ Fisher" slug="/">
  <Fragment slot="header">
    <Header { ...{...headerPost.data, ...headerPost.rendered.metadata.frontmatter} }
      isFeatured={true}
    />
  </Fragment>
  <section itemtype="https://schema.org/Blog" class="list home">
    <h1>Observations, insights, images and code from ajfisher exploring the
      intersection of AI, web, media and digital innovation.</h1>
    <h2>Featured posts</h2>
    <ListItems items={featured} />

    <h2>Recent posts</h2>
    <ListItems items={recent} />
  </section>
</BaseLayout>

<style>
  section.home {
    > h1 {
      margin: var(--gutter) 0 !important;
      font-size: 2.2rem !important;
      font: var(--main-font-family);
      color: var(--dark-text-colour) !important;
    }

    > h2 {
      font-size: 4rem;
    }
  }
</style>
