---
// Base layout component for the site to hook all the other pages into
import '../styles/global.css';

import Header from '../components/Header.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';

const {
  title = "AJ Fisher",
  slug = '/',
} = Astro.props;

const canonical = Astro.site ? new URL(Astro.url.pathname, Astro.site).toString() : undefined;
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>{title}</title>
    {canonical && <link rel="canonical" href={canonical} />}
  </head>
  <body>
    <header>
      <nav>
        <a href="/">Home</a> |
        <a href="/blog/">Article archive</a> |
        <a href="/who/">Who is @ajfisher</a> |
        <a href="/colophon/">Colophon</a> |
        <a href="/dis-everything/">Disclaimer & Disclosure</a>
      </nav>
    </header>

    <main>
      <article>
        <slot />
      </article>
    </main>

    <Footer slug={slug} />
  </body>
</html>
