---
// Base layout component for the site to hook all the other pages into
import '../styles/global.css';

import Header from '../components/Header.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';

const {
  title = "AJ Fisher",
  slug = '/',
} = Astro.props;

const canonical = Astro.site ? new URL(Astro.url.pathname, Astro.site).toString() : undefined;
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>{title}</title>
    {canonical && <link rel="canonical" href={canonical} />}
  </head>
  <body>
    {Astro.slots.has('header') && (
      <header>
        <slot name="header" />
      </header>
    )}
    <main>
      <article>
        <slot />
      </article>
      <aside>
        {Astro.slots.has('postdata') && (
          <section>
            <slot name="postdata" />
          </section>
        )}
        <Nav />
      </aside>
    </main>

    <Footer slug={slug} />
  </body>
</html>

<style is:global>
  /** CORE LAYOUT STYLES **/
  main {
    width: 100%;
    box-sizing: border-box;

    @media only screen and (min-width: 821px) {
      /** Main is a flex container when it's bigger*/
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: flex-start;
      justify-content: space-between;
    }

    @media only screen and (min-width: 1051px) {
      width: 1020px;
      margin: 0 auto;
    }

    & article {
      width: 100%;

      @media only screen and (min-width: 821px) {
        /** Article is a flex item when it's bigger **/
        flex-grow: 2;
        align-self: flex-start;
        width: 62%;
      }

      @media only screen and (min-width: 1051px) {
        width: 66%;
      }

      & section {
        margin-top: var(--gutter);

        & h2, & h3 {
          margin: 0;
          margin-left: var(--gutter);
          padding: 0px 0px 0.5rem;
        }

        & h4, & h5 {
          margin: calc(0.5 * var(--gutter)) var(--gutter);
        }

        & p, & pre {
          padding: 0 var(--gutter);

          & b {
            font-weight: inherit;
          }
        }

        /** use this for inline code snippets **/
        & p > code.language-text {
          background-color: var(--lightened-grey);
          border-radius: 0.2rem;
          font-size: initial;
          color: var(--light-text-colour);
          padding: 0.2rem 0.5rem;
        }

        & p, & ul > li, & blockquote, & ol > li {
          font-size: 2rem;

          @media only screen and (min-width: 821px) {
            font-size: 2.2rem;
          }
        }

        & ul, & ol {
          margin: 0 var(--gutter);
          margin-left: calc(-1 * var(--gutter));

          @media only screen and (min-width: 821px) {
            margin-left: -2rem;
          }

          @media only screen and (min-width: 1051px) {
            margin-left: -1rem;
          }
        }

        & p:has(img) {
          margin-bottom: 0px;
          padding: 0;
          margin-left: 0px !important;
          margin-right: 0px !important;
        }

        & p img {
          max-width: 1000px !important;
          width: 100%;
          height: auto;
        }
      }
    }
    & aside {
      /** Aside is a flex item **/
      width: 100%;

      @media only screen and (min-width: 821px) {
        /** aside is a flex item at bigger resolutions **/
        flex-grow: 1;
        align-self: flex-start;
        top: var(--gutter);
        margin-top: var(--gutter);
        position: sticky;
        padding: 0 var(--gutter);
        height: min-content;
        width: 27%;

        /** But it is also a container of the nav and post data **/
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
      }

      /** change the order if it's a row layout.**/
      & nav {

        @media only screen and (min-width: 821px) {
          order: 1;
        }
      }

      & section {

        @media only screen and (min-width: 821px) {
          order: 2;
        }
      }

      /** post data styles **/
      & section {
        padding: 0 var(--gutter);

        @media only screen and (min-width: 821px) {
          padding: 0;
        }

        & h2 {
          display: none;

          @media only screen and (min-width: 821px) {
            display: block;
            font-size: 3rem;
            color: var(--dark-base);
            margin: var(--gutter) 0;
            line-height: 0.9;
          }

          @media only screen and (min-width: 1051px) {
            font-size: 4rem;
          }
        }

        & p.published {
          display: none;

          @media only screen and (min-width: 821px) {
            display: inline;

            font-size: 2rem;
            color: var(--light-text-colour);
            background: var(--dark-grey);
            box-decoration-break: clone;
            -webkit-box-decoration-break: clone;

            box-shadow: none;
            padding: 0.5rem;
            border-bottom: 0.4rem solid var(--light-base);
            border-radius: 0.2rem;
          }
        }
      }
    }
  }
</style>
