@import 'theme.scss';

html, body {
    height: 100%;
}

html {
    color: $dark_grey;
    font-size: 62.5%;
    line-height: 1.4;
}

::-moz-selection {
    background: $highlight;
    text-shadow: none;
}

::selection {
    background: $highlight;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $dark_grey;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: $dark_grey;
    color: #fff;
    padding: 0.2em 0;
}


body {
    font: 2.4rem 'Rokkitt', Helvetica, Helvetica Neue, Arial;
    color: $dark_text_colour;
}

header.wrapper {
    margin: 0;
    width: 100%;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

.header-container {
    border-bottom: 2px solid $highlight;
    height: 95%;
}

.footer-container {
    border-top: 2px solid $highlight;
}

.header-container,
.footer-container {
    @include gradientBackground($dark_grey, 30%);
}

/* ==============
    MOBILE: Menu
   ============== */
aside {
    display: flex;
    flex-direction: column;
}

aside nav {
    order: 2;
}

aside section {
    order: 1;
}

nav ul {
    margin: 0 0 3rem 0;
    padding: 0;
    list-style-type: none;
}

nav ul li {
    margin: 0.6rem 0;
    font-size: 4rem;
}

nav ul li:first-child {
    margin-top: 0;
}

nav ul li:last-child {
	margin-bottom: 0;
}

nav ul li.icons {
    font-size: 6rem;
}

nav a {
    text-decoration: none;
    color: $dark_text_colour;
    @include heading-font();
    background: none;
    padding: 0;
}

nav a:visited {
    color: $dark_text_colour;
}

nav a:hover,
nav a:visited:hover {
    color: $base;
    background: none;
}

#sidebar section h2 {
    display: none;
}


#sidebar section p.date {
    color: $light_text_colour;
    display: inline;
    background: $dark_grey;
    box-shadow: 0.5rem 0 0 $dark_grey, -0.5rem 0 0 $dark_grey;
    padding: 0.5rem 0;
    font-size: 2rem;

}

#sidebar p.tags a {
    white-space: nowrap;
    font-size: 2rem;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 3rem 0;
}

.main article h1 {
    font-size: 2em;
}


.footer-container footer {
    color: white;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

// these in place because adblock is insane
.fa-insta::before {
	content: '\f16d';
}

.fa-tw::before {
	content: '\f099';
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 5rem;
}

h3 {
    font-size: 5rem;
}

// default header //

// for the backgrounf if it exists
.header-container {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

header h1 {
    background-color: $base;
    padding: 1.5rem 2rem;
    margin-bottom: 0;
    @include heading-font();
    line-height: 1em;
    color: $light_text_colour;
    min-height: 15rem;
    margin-top: 1rem;
    vertical-align: middle;
}

header p {
    color: $light_text_colour;
    clear: left;
    padding: 0 2rem;
    font-size: 2rem;
    margin: 2rem 0rem;
}

header p.date {
    color: $base;
}

header p.postdata {
    color: $highlight;
    font-size: 2rem;
}

header p.lede {
    font-size: 1.8rem;
    font-weight: normal;
}

// listing header
body.list header h1 {
    min-height: 0;
    font-size: 5rem;
    display: inline-block;
    margin: 2rem 0;
}

body.list .header-container {
    height: initial;
}

// Other styles

span.worddata {
    color: $light_text_colour;
}

a {
    color: $highlight;
    background: $dark_grey;
    text-decoration: none;
    padding: 0 0.5rem;
    transition: all 0.4s ease;
}

a:hover,
a:visited:hover {
    //color: $light_text_colour;
    //background: $base;
    color: $base;
}

article h2,
article h3{
    background-color: $base;
    color: $light_text_colour;
    @include heading-font();
    display: inline;
    // use this to get consistent edge on outside of wrap
    box-shadow: 3rem 0 0 $base, -3rem 0 0 $base;
    margin: 0;
    padding: 0px 0px 0.5rem;
}


article h4 {
    //padding: 0.5rem 3rem;
    margin:0;
    @include heading-font();
    color: $dark_text_colour;
}

// This is used for the pullquotes

article p b {
    font-weight: inherit;
}

p.has-pullquote::before {
    content: attr(data-pullquote);
    display: block;
	@include heading-font();
    max-width: 90%;
    font-size: 4rem;
    margin: inherit;
    color: $base;
}

// get the images sorted

article p img {
    width: 100%;
}

article p.imagep {
    margin: 0 -3rem;
}

article p.imagep a {
    padding: 0;
    background: none;
}

article p.citation,
article p.imagecitation {
    font-size: 1.8rem;
}

// listing styles

.list * ul {
    padding: 0;
}

.list article ul li {
    display: block;
    //border: 1px solid green;
    width: 44%;
    float: left;
    margin-right: 3rem;
	min-height: 51rem;
}

.list article ul li::after {
    content: "//";
    padding-left: 43%;
    color: $base;
    font-size: 1rem;
}

.list * li div {
    height: 17rem;
    overflow: hidden;
    border-bottom: 0.5rem solid $base;
//    box-shadow: 0 5px 10px $dark_grey;
    margin-bottom: 1rem;
	transition: all 0.8s ease;
}

.list * li div:hover {
	border-bottom: 0.5rem solid $dark_grey;
}

.list * li div a {
	padding: 0;
	background: none;
}

.list * li div img {
    width: 100%;
}

.list * h2 {
    background: none;
    box-shadow: none;
    font-size: 3rem;
	display: block;
	padding:0;
}

.list * h2 a {
	padding: 0;
	background: none;
	color: $base;
}

.list * h2 a:hover {
	color: $dark_grey;
}

.list * li p {
    font-size: 1.8rem;
}

.list * li p.date {
	font-size: 1.5rem;
	color: lighten($dark_grey, 40%);
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE
   ==================== */

    header.wrapper {
        width: 90%;
        margin: 0 5%;
    }

    header h1 {
        padding: 3.5rem 3rem;
        margin-top: 9rem;
    }

    header p {
        padding: 0 3.5rem;
        font-size: 3rem;
    }
    header p.lede {
        font-size: 2.3rem;
    }


}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }

/* ============
    WIDE: Menu
   ============ */
    aside nav {
        order: 1;
    }

    aside section {
        order: 2;
    }

    nav ul {
        margin: 0;
    }

    nav ul li,
    nav ul li.icons{
        font-size: inherit;
    }

    #sidebar section h2 {
        display: block;
        @include heading-font();
        font-size: 4rem;
        color: $base;
        line-height: 0.9;
        margin: 2.5rem 0px;
    }


/* ============
    WIDE: Main
   ============ */

    h1 {
        font-size: 9rem;
    }

    header.wrapper {
        width: 687px;
        padding-right: 339px;
    }

    header h1 {
        min-height: 35rem;
    }

    .main article {
        float: left;
        width: 61%;
        padding: 0px 3rem;
    }

/**.main aside {
    //color: white;
    padding: 0px 5% 10px;
}**/
    .main aside {
        float: right;
        width: 28%;
        padding: 0px;
    }

    .main aside#sidebar {
        position: -webkit-sticky;
        position: sticky;
        top: 3rem;
        margin-top: 3rem;
    }

}
@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px less 33% for right padding and 10% either side margin */
        margin: 0 auto !important;
    }

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid $dark_grey;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
