@mixin radial-gradient( $outer, $inner, $type: circle ) {
    background: $outer;
    background: -moz-radial-gradient( center, $type cover,  $inner 0%, $outer 100% );
    background: -webkit-gradient( radial, center center, 0px, center center, 100%, color-stop(0%,$inner), color-stop(100%,$outer) );
    background: -webkit-radial-gradient( center, $type cover,  $inner 0%, $outer 100% );
    background: -o-radial-gradient( center, $type cover,  $inner 0%, $outer 100% );
    background: -ms-radial-gradient( center, $type cover,  $inner 0%, $outer 100% );
    background: radial-gradient( center, $type cover,  $inner 0%, $outer 100% );
}

@mixin gradientBackground($bgcolor, $darken_amt) {
     //@include radial-gradient( rgba(28,30,32,1), rgba(85,90,95,1) );
     @include radial-gradient( darken($bgcolor, $darken_amt), $bgcolor );
}


// main colour swatches from paletton
$color-primary-0: #FF5E9A;  // Main Primary color */
$color-primary-1: #FFC4DA;
$color-primary-2: #FF8BB6;
$color-primary-3: #FF337E;
$color-primary-4: #FE025F;

$color-secondary-1-0: #5EFFA9;  // Main Secondary color (1) */
$color-secondary-1-1: #C4FFE0;
$color-secondary-1-2: #8BFFC1;
$color-secondary-1-3: #33FF91;
$color-secondary-1-4: #02FC76;

$color-secondary-2-0: #EAFF5E;  // Main Secondary color (2) */
$color-secondary-2-1: #F7FFC5;
$color-secondary-2-2: #F0FF8B;
$color-secondary-2-3: #E5FF33;
$color-secondary-2-4: #DEFF02;

$color-complement-0: #B2FF5E;   // Main Complement color */
$color-complement-1: #E3FFC4;
$color-complement-2: #C7FF8B;
$color-complement-3: #9DFF33;
$color-complement-4: #85FE02;

$dark_grey: #3f3f3f;

$base: $color-primary-0;

$highlight: $color-complement-0;

$linkcolor: $color-complement-0;
